{% extends '@Frontend/layout.html.twig' %}

{% block title %}Página no Encontrada | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container content">
        <h2 class="text-center title">Página no encontrada</h2>
        <div class="row us">
            <div class="col-sm-12 contact-section">
                <img src="{{ asset('assets/images/logo.png') }}" class="img-responsive center-block">
            </div>
        </div>
    </div>
{% endblock %}