{% extends '@Frontend/layout.html.twig' %}

{% block title %}Contacto | {{ parent() }}{% endblock %}

{% block body %}
    <h4 class="header-green">Contáctanos</h4>
    <div class="contenido-skyblue">
        <div class="row us">
            <div class="col-sm-10 col-sm-offset-1 contact-section">
                <form>
                    <h6 class="text-center">Ingrese los datos al formulario, los campos marcados con * son necesarios para poder contactarnos con usted.</h6>
                    <h6 class="text-center">Todos sus datos serán tratados con confidencialidad.</h6>
                    <hr class="blue">
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label">* País:</label>
                        </div>
                        <div class="col-xs-7">
                            <select class="form-control input-sm" required="">
                                <option value="1">Bolivia</option>
                                <option value="2">Chile</option>
                                <option value="3" selected="">México</option>
                                <option value="4">Paraguay</option>
                                <option value="5">Uruguay</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label">* Tema:</label>
                        </div>
                        <div class="col-xs-7">
                            <select class="form-control input-sm" required="">
                                <option value="1" selected="">Compra de SkyBlue®</option>
                                <option value="2">Información Técnica</option>
                                <option value="3">Ubicación de Distribuidores</option>
                                <option value="4">Distribuciones Disponibles</option>
                                <option value="5">Servicios de Lubricación</option>
                                <option value="6">Depto. Recursos Humanos</option>
                                <option value="7">Otros Temas</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label des">* Correo Electrónico:</label>
                        </div>
                        <div class="col-xs-7">
                            <input class="form-control input-sm" type="email" required="" autocomplete="on" inputmode="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label">* Cliente Actual:</label>
                        </div>
                        <div class="col-xs-7"><span><label class="control-label radio-inline"><input type="radio" name="cliente" required="">Si</label></span>
                            <div class="radio">
                                <label class="control-label">
                                    <input type="radio" name="cliente" required="">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label">* Descripción, pregunta o requerimiento:</label>
                        </div>
                        <div class="col-xs-7">
                            <textarea class="form-control input-sm" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label">* Nombre:</label>
                        </div>
                        <div class="col-xs-7">
                            <input class="form-control input-sm" type="text" required="" autocomplete="on">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label">* Apellido(s):</label>
                        </div>
                        <div class="col-xs-7">
                            <input class="form-control input-sm" type="text" required="" autocomplete="on">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label des">Empresa o negocio:</label>
                        </div>
                        <div class="col-xs-7">
                            <input class="form-control input-sm" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label">Giro:</label>
                        </div>
                        <div class="col-xs-7">
                            <input class="form-control input-sm" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label">Ciudad:</label>
                        </div>
                        <div class="col-xs-7">
                            <input class="form-control input-sm" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label">Provincia/Estado:</label>
                        </div>
                        <div class="col-xs-7">
                            <input class="form-control input-sm" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label des">Código Postal:</label>
                        </div>
                        <div class="col-xs-7">
                            <input class="form-control input-sm" type="number" min="0" max="99999" step="1">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label">* Teléfono (con lada):</label>
                        </div>
                        <div class="col-xs-7">
                            <input class="form-control input-sm" type="tel" required="" autocomplete="on" inputmode="tel">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5 col-sm-offset-4"><span><label class="control-label checkbox-inline"><input type="checkbox">Acepto los <a href="{{ path('privacy') }}" target="_blank">términos y condiciones</a></label></span></div>
                        <div class="col-md-12">
                            <button class="btn btn-success center-block" type="submit">Enviar </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}