{% extends '@Frontend/layout.html.twig' %}

{% block title %}Contrato de Privacidad | {{ parent() }}{% endblock %}

{% block body %}
    <h4 class="header-green">Contrato de Privacidad</h4>
    <div class="contenido-skyblue">
        <div class="privacy">
            <p class="space">Fecha de última actualización: 02/03/2015 </p>
            <p class="space">Importante, lea con detenimiento el acuerdo en su totalidad. </p>
            <p>Nada en este material intenta contrarrestar la separación &nbsp;corporativa de las entidades locales. Las relaciones de trabajo que se analizan en este material no representan necesariamente una relación de dependencia corporativa, sino
                que pueden reflejar relaciones de orientación funcional, de administración o de prestación de servicios. Si bien este material puede contemplar &nbsp;consideraciones &nbsp;por parte de los accionistas de asuntos que atañen a una entidad
                local, los actos de dicha entidad son de exclusiva responsabilidad de la misma. </p>
            <p>Raloy Lubricantes cuenta con varias Distribuciones, muchas de ellas con nombres que incluyen Raloy, Raloy Lubricantes. Por motivos de conveniencia y simplicidad, en este sitio Web, dichos términos y los términos tales como sociedad, compañía,
                nuestro/a, nosotros y su/s se utilizan, en ocasiones, como referencias abreviadas a las distribuciones específicas o a grupos de Distribuciones. Las referencias abreviadas que describen organizaciones operativas a nivel regional o
                mundial y líneas de negocios regionales o mundiales se utilizan también, a veces, por motivos de conveniencia y simplicidad. De igual forma, Raloy Lubricantes tiene relaciones comerciales con miles de clientes, proveedores, administraciones
                públicas y otros. Por motivos de conveniencia y simplicidad, los términos tales como empresa, empresa conjunta, sociedad, socio y miembro de una empresa conjunta se utilizan para indicar relaciones comerciales que conllevan actividades
                e intereses comunes, y es posible que dichos términos no se refieran a relaciones jurídicas concretas. </p>
            <p>Raloy Lubricantes &nbsp;y sus sociedades Distribuciones le proporcionan a usted este sitio Web y otros sitios Raloy relacionados o vinculados (el "Sitio") y determinados servicios, interfaces y funcionalidad en, o a través de, este Sitio
                (los "Servicios) siempre que usted haya manifestado su compromiso de cumplir con los siguientes términos y condiciones de uso (las "Condiciones Generales"). La utilización por su parte de este Sitio o de los Servicios constituye su
                aceptación de las Condiciones Generales. Una vez aceptadas, las Condiciones Generales constituirán un contrato vinculante entre Raloy Lubricantes y usted por el que se regirá su uso del Sitio o de los Servicios (el "Contrato"). En
                caso de que usted no desee obligarse por las Condiciones Generales, no utilice este Sitio ni los Servicios. </p>
            <p>1) Cambios y Términos y Condiciones Especiales Adicionales </p>
            <p>Raloy Lubricantes podrá revisar las Condiciones Generales en cualquier momento y sin necesidad de notificación alguna. Usted deberá visitar este Sitio de forma periódica para asegurarse de que tiene conocimiento de las Condiciones Generales
                más recientes ya que serán vinculantes para usted. La utilización que usted haga del Sitio o de los Servicios después de haberse producido dichos cambios constituye su aceptación de los mismos. </p>
            <p>Se le aconseja revisar cada página que visite en el Sitio. Es posible que algunas ubicaciones cuenten con términos y condiciones especiales adicionales que serán de aplicación a la utilización de, o la interacción con, dicha ubicación.
                También es posible que estos términos y condiciones sufran modificaciones en cualquier momento sin necesidad de notificación alguna. La utilización que usted haga de dicha ubicación constituye su aceptación de dichos términos y condiciones
                especiales adicionales. </p>
            <p>2) Utilización del Sitio </p>
            <p>A. Seguridad del Sitio. Tiene usted prohibido infringir, o tratar de infringir la seguridad del Sitio o de los Servicios. Tales infracciones podrán conllevar responsabilidad penal y civil para usted. Investigaremos cualquier supuesta infracción
                y, en caso de sospecharse la existencia de una infracción penal, colaboraremos con las autoridades encargadas del cumplimiento de las leyes en las investigaciones que emprendan. Entre las infracciones de la seguridad se encuentran,
                entre otras y sin limitar &nbsp;a las siguientes: </p>
            <p>Acceder o tratar de acceder en un servidor o cuenta en la que usted no esté autorizado; </p>
            <p>Acceder a datos o adoptar medidas para obtener servicios que no estén diseñados para usted o para su uso; </p>
            <p>Tratar de sondear, escanear o probar la vulnerabilidad de cualquier sistema, subsistema o red; </p>
            <p>Manipular, piratear, modificar o corromper de otra forma o violar la seguridad o las medidas de autenticación sin contar con la autorización correspondiente; </p>
            <p>Transmitir material que contenga virus, caballos de Troya, gusanos ("worms"), ("time bombs"), programas de cancelación o destrucción automática ("cancelbots") u otras rutinas de programación informática o motores con intención o cuyos
                efectos dañen, destruyan, interrumpan o impidan de otra forma la funcionalidad de un ordenador o la operación del Sitio o de los Servicios; </p>
            <p>Interferir con, interceptar o expropiar cualquier sistema, datos o información; o </p>
            <p>Interferir el servicio a cualquier usuario, anfitrión o red, incluidos, entre otros, a través de la sobre carga, "inundación", "bombardeo de correo", o "colapso" de cualquier sistema informático. </p>
            <p>B. "Sobrecarga por Inundación" ("Spam") y Acciones Similares. Tiene usted prohibido transmitir los mismos o similares mensajes de correo electrónico no solicitados, publicidad comercial masiva, o cartas en cadena a uno o varios grupos
                de correo electrónico (en los casos en que existan dos o más direcciones de correo electrónico agregadas como un único destinatario de correo electrónico). </p>
            <p>C. Violación de derechos de propiedad industrial e intelectual. Tiene usted prohibido utilizar el Sitio o los Servicios para violar los derechos de autor, marcas comerciales, patentes y demás derechos de propiedad intelectual e industrial
                de terceros. Podremos rescindir su derecho a acceder al Sitio y a los Servicios en caso de que estimemos que está usted utilizando el Sitio y los Servicios de forma que viole los derechos de autor, marcas comerciales, patentes y demás
                derechos de propiedad intelectual e industrial de terceros. Es posible que usted sea requerido, mediante resolución judicial, a pagar una indemnización monetaria por daños y perjuicios a nosotros y al titular legal de los derechos
                de propiedad intelectual e industrial que usted haya violado. </p>
            <p>D. Otras Acciones Prohibidas. A la hora de utilizar el Sitio o los Servicios, usted no podrá: </p>
            <p>Subir, enviar por correo electrónico, ni transmitir de otra forma o utilizar el Sitio o los Servicios que fomente o promocione material ilícito, dañino, perjudicial, difamatorio, amenazante, vulgar, sexualmente explícito, de odio o material
                de cualquier clase que sea de otra forma inaceptable u ofensivo, cualquier material que explote a menores o invada la privacidad de terceros o viole los derechos de terceros, o material que Raloy Lubricantes, a su entera discreción,
                no desee que se coloque o transmita en el Sitio y los Servicios; </p>
            <p>Continuar enviando correos electrónicos a un destinatario que haya indicado que no quiere recibir comunicación alguna de usted; </p>
            <p>Emprender y/o fomentar conductas que puedan: 1) infringir las leyes o normatividad aplicables o 2) generar una responsabilidad civil; </p>
            <p>Emprender conductas que puedan dañar o impedir la operatividad prevista del Sitio o de los Servicios.&nbsp; </p>
            <p>Suplantar a cualquier persona física o jurídica, declarar falsamente o proporcionar información engañosa sobre su identidad o afiliación, o falsificar, borrar o alterar cualquier parte de una información de encabezamiento de paquete de
                TCP/IP en cualquier correo electrónico u otro envío. </p>
            <p>Emprender actividades de mercadeo en línea &nbsp;engañosas; o </p>
            <p>Ayudar o permitir a cualquier persona que emprenda cualquiera de las actividades anteriormente descritas. </p>
            <p>E. Su Contenido. Deberá ser cauto, aplicar el sentido común y un juicio razonable a la hora de utilizar el Sitio y los Servicios. Usted es responsable de cualquier material que coloque o transmita a, o a través del Sitio o de los Servicios.
                Usted se compromete, manifiesta y declara que toda la información que usted envíe o transmita a través del Sitio o de los Servicios es veraz, exacta, no engañosa y que se ofrece de buena fe, y que usted ostenta el derecho de enviar
                o transmitir dicha información. Dicha información (incluidos, entre otros, datos, texto, software, música, sonido, fotografías, material gráfico, video, mensajes u otro material de cualquier naturaleza), independientemente de que se
                transmita de forma privada o se envíe públicamente, será de su exclusiva responsabilidad. </p>
            <p>F. Usted asume que el uso de cualquier información obtenida a través del Sitio o de los Servicios se efectúa a riesgo suyo. </p>
            <p>G. Consecuencias del Uso Inadecuado. Nos reservamos el derecho (aunque no la obligación) de, a nuestra entera discreción, rechazar o borrar cualquier contenido suyo, así como de suspender o rescindir sin previo aviso su acceso al Sitio
                y a los Servicios tras una infracción o intento de infracción del presente Contrato. Las infracciones indirectas o intentos de infracción del presente Contrato, y las infracciones reales o intentos de infracción por parte de terceros
                que actúen en nombre de usted, tendrán la consideración de infracciones protagonizadas por usted del presente Contrato. Además, constituye una infracción del presente Contrato utilizar los servicios de otra compañía con objeto de facilitar
                cualquiera de las actividades que infringen el presente Contrato en caso de que pueda preverse de forma razonable que dicha utilización del servicio de otra compañía vaya a perjudicar de alguna forma al Sitio y a los Servicios. </p>
            <p>H. Inexistencia de Licencia. Mediante el uso del Sitio o de los Servicios usted no recibe ninguna licencia o autorización, expresa o tácita, en virtud de ningún derecho de patente o derecho de secretos comerciales que sean propiedad, estén
                controlados o bajo la posesión, actual o futura, de Raloy Lubricantes. </p>
            <p>I. Impresión. Usted podrá bajar e imprimir una copia del contenido de este Sitio para su uso personal y no comercial, o en relación con la compra que usted vaya a efectuar de productos Raloy Lubricantes, siempre que usted deje intacta
                y sin modificar toda la información sobre marcas comerciales y derechos de autor que aparezcan. Salvo lo específicamente previsto en el presente párrafo, usted no podrá copiar (independientemente de que lo haga a través de la impresión
                en papel, almacenamiento en un disco, colocación en otro sitio, descarga de otra forma), distribuir (incluida la distribución de copias), divulgar públicamente, alterar o manipular de ningún modo cualquiera de las partes de este Sitio.
            </p>
            <p>3) Marcas Comerciales, Derechos de Autor y de propiedad intelectual e industrial </p>
            <p>Raloy Lubricantes, Raloy , y otras marcas, marcas comerciales y marcas de servicios determinados son marcas de Raloy Lubricantes. No todas las marcas de Raloy aparecerán en este Sitio y no todos los productos o servicios incluidos en las
                listas contenidas en este Sitio están disponibles para su venta en todos los países. Algunos productos o servicios pueden comercializarse bajo marcas comerciales locales en determinados países. Las marcas de terceros podrán aparecer
                en este Sitio cuando se haga referencia a esas entidades o a sus productos o servicios. Las marcas de terceros desplegadas en este sitio son propiedad de sus respectivos dueños. </p>
            <p>El usuario podrá hacer, reenviar, distribuir y/o fotocopiar materiales protegidos por derechos de autor de Raloy que se ubiquen en este Sitio exclusivamente en caso de que la página o documento completo de que se trate no se haya modificado
                y esté completo, incluidos los encabezamientos, pies de página, renuncias de responsabilidad, y demás información. Usted no podrá copiar estos documentos en otro sitio Web. </p>
            <p>4) Aviso de Privacidad </p>
            <p style="margin-bottom: 0px;">De click aquí &nbsp;para ver el Aviso de Privacidad de Raloy Lubricantes. </p>
            <p style="margin-bottom: 0px;">Cómo contactar con el Departamento de Ventas con los Clientes de Raloy Lubricantes. </p>
            <p>Si tiene cualquier duda o pregunta sobre la presente Declaración de Privacidad, las prácticas de este sitio o sus contactos y relación con este sitio, rogamos se ponga en contacto con: </p>
            <p style="margin-bottom: 0px;">Raloy Lubricantes, S.A. de C.V. </p>
            <p>informacion@raloy.com.mx </p>
            <p>5) Inexistencia de Manifestaciones o Garantías </p>
            <p>Este Sitio y los Servicios se proporcionan "tal cual son" y sin manifestaciones o garantías de ningún tipo, ya sean expresas o tácitas, en la mayor medida posible en virtud de las leyes aplicables, Raloy Lubricantes renuncia a efectuar
                cualquier tipo de declaración o garantía, expresa o tácita, incluidas, entre otras, las garantías tácitas de comerciabilidad y adecuación a un fin concreto y sobre no infracción o violación. Raloy Lubricantes no manifiesta ni garantiza
                que las funciones o los Servicios incluidos en el Sitio no se vean interrumpidos o estén libres de errores, que los defectos serán corregidos o que este Sitio o el servidor que pone a disposición el Sitio estén libres de virus u otros
                componentes dañinos. Raloy Lubricantes no efectúa manifestación o garantía alguna sobre el uso de los contenidos de este Sitio o de los Servicios en el sentido de que sean correctos, exactos, adecuados, útiles, oportunos, fiables y
                demás características. Algunos países y jurisdicciones no permiten la exclusión de las garantías tácitas, por lo que es posible que los límites y exclusiones anteriormente indicados no le sean de aplicación a usted. </p>
            <p>6) Responsabilidad Limitada </p>
            <p>Raloy Lubricantes no responderá ante usted, ni ante terceros, de indemnización alguna en concepto de daños y perjuicios compensatorios, punitivos, especiales o consecuentes que se deriven del uso de, o la imposibilidad de utilizar el,
                Sitio, los Servicios o el contenido de este Sitio o del funcionamiento del Sitio, de los Servicios o productos descritos en este Sitio, incluso en el caso de que se haya advertido a Raloy Lubricantes de la posibilidad de que se produzcan
                dichos daños y perjuicios. Es posible que la legislación aplicable no permita limitar o excluir la responsabilidad o la indemnización por daños y perjuicios incidentales o consecuentes, por lo que es posible que el límite o exclusión
                anteriormente indicada no le sea de aplicación a usted. </p>
            <p>En caso de no estar de acuerdo con cualquier parte del Sitio o de los Servicios o con cualquiera de las presentes condiciones, la única acción de la que dispondrá será dejar de utilizar el Sitio y los Servicios. </p>
            <p>7) No Confidencialidad de los Materiales del Usuario </p>
            <p>No deberá transmitir material alguno a, o a través de este Sitio que usted considere confidencial o propiedad registrada. Todo material que usted transmita a, o a través de, este Sitio tendrá la consideración de material no confidencial
                y no propiedad registrada. Salvo lo expresamente previsto en el Aviso de Privacidad de Raloy Lubricantes, o en un contrato separado suscrito por escrito por usted y Raloy Lubricantes, usted otorga a Raloy Lubricantes la autorización
                ilimitada, irrevocable, mundial y sin derecho al cobro de derechos para utilizar, reproducir, visualizar, ejecutar o representar públicamente, transmitir y distribuir dicha información. Además, usted asume que Raloy Lubricantes ostenta
                el derecho de uso, sin pago alguno y sin necesidad de dar cuenta de ello, a usted o a terceros, de los conceptos, conocimientos técnicos o ideas que usted (y aquellos que actúen en nombre suyo) transmita a, o a través de, el Sitio.
            </p>
            <p>8) Utilización de sitios Web de Terceros </p>
            <p>Con fines de conveniencia, Raloy Lubricantes podrá proporcionar vínculos a sitios Web operados por terceros. En caso de que usted decida acceder a un sitio Web de un tercero a través de un vínculo suministrado por este Sitio, usted lo
                hará por su propia cuenta y riesgo. Raloy Lubricantes no responderá de los virus y demás elementos dañinos que se encuentre usted a la hora de conectar mediante un vínculo a un sitio Web de un tercero. Raloy Lubricantes no efectúa
                ni otorga manifestación ni garantía alguna relativa a, y no será responsable de, los sitios Web conectados mediante vínculos, ni de los contenidos de dichos sitios Web. </p>
            <p>9) Áreas de Comunicación del Usuario </p>
            <p>El Sitio podrá incluir áreas en las que los usuarios puedan comunicarse entre sí, incluidos, entre otros, tablones de anuncios, calendarios, áreas de chat o páginas web personales. </p>
            <p>Raloy Lubricantes ostenta el derecho, que no la obligación, de hacer un seguimiento o revisar cualquier parte del Sitio o de los Servicios, incluidas las áreas de comunicaciones de los usuarios. No obstante, Raloy Lubricantes no responderá
                del contenido de ninguna de las comunicaciones efectuadas en estas áreas. </p>
            <p>10) Divulgación; Declaraciones Prospectivas </p>
            <p>Es posible que parte de la información contenida en este Sitio incluya previsiones u otras declaraciones prospectivas o sobre datos o rendimientos financieros futuros de la Compañía. &nbsp;Es nuestro deseo advertirle que estas informaciones
                constituyen meras predicciones y que los hechos o resultados reales podrán diferir significativamente de aquéllas.&nbsp; </p>
            <p>11) Disponibilidad Mundial/Controles de Exportación </p>
            <p>Es posible que determinadas porciones de este Sitio o de los Servicios estén controladas y operadas por Raloy Lubricantes desde las oficinas en los Estados Unidos Mexicanos. Raloy Lubricantes no efectúa manifestación alguna en el sentido
                de que el Sitio, los Servicios o los materiales a los que se acceda a través de, o descritos en, el Sitio sean adecuados o estén disponibles para su utilización en otros lugares, y el acceso a los mismos desde otros países en los que
                su contenido sea ilegal o esté penado queda prohibido. El acceso o el uso del Sitio, los Servicios o el material al que se acceda a través de, o que se describa en, el Sitio por parte de personas o desde países que sean objeto de sanciones
                por parte los Estados Unidos, queda específicamente prohibido. </p>
            <p>Aquellas personas que accedan a los Sitios o a los Servicios lo harán por su cuenta y riesgo y responderán del cumplimiento de la totalidad de las leyes locales y de las leyes de los Estados Unidos Mexicanos aplicables. Usted no podrá
                exportar ni re-exportar los Servicios, la información ni el material al que acceda a través de, o que esté descrito en, este Sitio salvo cumpliendo todas las leyes y normatividad de los Estados Unidos Mexicanos.&nbsp; </p>
            <p>12) Indemnización de la Compañía </p>
            <p>Usted se compromete a indemnizar, &nbsp;defender &nbsp;y a exonerar a Raloy Lubricantes (incluidas las empresas subsidiarias y distribuidoras de Raloy Lubricantes) así como a funcionarios, directores, y empleados de Raloy Lubricantes en
                relación con cualquier reclamo, demanda, acción, deuda, pérdida o responsabilidad, incluyendo los honorarios razonables de abogados, en la medida en que dicha acción se fundamente, se derive, o tenga relación con la infracción por
                parte de usted, o la infracción por parte de otra persona que utilice su contraseña o cuenta, de los términos y condiciones contenidos en el presente Contrato. </p>
            <p>13) Ley aplicable y resolución de controversias </p>
            <p>El presente Contrato se regirá e interpretará por las leyes sustantivas internas del Estado de México, Estados Unidos Mexicanos (sin tener en cuenta sus principios sobre conflictos de leyes). En los casos en que la jurisdicción competente
                sea la jurisdicción federal en relación con cualquier acción, juicio o procedimiento derivado de, o que tenga cualquier tipo de relación con, el presente Contrato, usted y Raloy Lubricantes acuerdan someterse a la jurisdicción exclusiva
                del Juzgado/Tribunal del Estado de México, Estados Unidos Mexicanos, para la resolución de dicha controversia. En los casos en que la jurisdicción competente no sea la jurisdicción federal en relación con dicha acción, juicio o procedimiento,
                usted y Raloy Lubricantes acuerdan someterse a la jurisdicción exclusiva del Juzgado/Tribunal del Estado de México, para la resolución de dicha controversia. </p>
            <p>14) Aviso Especial para Padres </p>
            <p>Determinadas partes o porciones del Sitio pueden ser de especial interés para los menores, pero Raloy Lubricantes no pretende recabar, a través del Sitio, información personal de personas menores de 18 años. </p>
            <p>15) Cómo Contactarnos </p>
            <p>En caso de tener cualquier duda o pregunta sobre los términos de uso de este Sitio o su implementación, puede ponerse en contacto con nosotros a través de la siguiente dirección: </p>
            <p style="margin-bottom: 0px;">Raloy Lubricantes, S.A. de C.V.&nbsp; </p>
            <p style="margin-bottom: 0px;">Av. Del Convento No. 111&nbsp; </p>
            <p style="margin-bottom: 0px;">Parque Industrial, Santiago. Tianguistenco, México, 52600 </p>
            <p style="margin-bottom: 0px;">01 713 135 1900 </p>
        </div>
        <div class="col-xs-4 col-xs-offset-4"><a class="btn btn-info btn-block" role="button" href="{{ path('contact') }}">Aceptar Contrato</a></div>
    </div>
{% endblock %}